#mods-table-container {
  // rows
  tr {
    background-color: #fafafa;

    &:nth-child(4n + 1),
    &:nth-child(4n + 2) {
      background-color: #fff;
    }
  }

  .mod-row.expanded > td {
    border-bottom: none;
  }

  // cells
  .cell-active > svg {
    display: block;
    margin: auto;
    color: green;
  }

  .cell-expand > svg {
    display: block;
    margin: auto;
  }
}
