#mods-table-container {
  // expanded row
  .mod-row.expanded > td {
    border-bottom: none;
  }

  // cells
  .cell-active > svg {
    display: block;
    margin: auto;
  }

  .cell-expand > svg {
    display: block;
    margin: auto;
  }
}
