$header-height: 52px;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#toolbar {
  display: table;
  height: $header-height;
  padding: 0 8px;

  > .MuiGrid-item {
    display: table-cell;
    vertical-align: middle;

    > button {
      margin: 0 4px;

      .MuiCircularProgress-root {
        max-width: 24px;
        max-height: 24px;

        > svg {
          color: #fff;
        }
      }
    }
  }

  .game-dir {
    display: table-cell;
    margin-right: 4px;
    float: right;

    > .game-dir-label {
      font-weight: bold;
    }
  }
}

// make table header sticky
#mods-table {
  height: calc(100% - #{$header-height});

  > .MuiGrid-root {
    height: 100%;

    > #mods-table-container {
      height: 100%;
    }
  }
}
