#mods-table-container {
  // expanded row
  .mod-row-expanded {
    transition-property: opacity;
    transition-timing-function: ease-in;

    > .files-label {
      font-weight: bold;
      vertical-align: top;
    }

    > .files-list {
      padding: 0;

      ul {
        padding: 0;
        margin-left: 18px;
      }
    }
  }

  // expanded row animations
  .expand-enter,
  .expand-leave.expand-leave-active {
    opacity: 0;
  }

  .expand-leave,
  .expand-enter.expand-enter-active {
    opacity: 1;
  }
}
